@font-face {
    font-family: icomoon;
    src: url(fonts/icomoon.ttf);
    src: url(fonts/icomoon.eot?#iefix3p0rtw) format("embedded-opentype"), url(fonts/icomoon.woff?3p0rtw) format("woff"), url(fonts/icomoon.ttf?3p0rtw) format("truetype"), url(fonts/icomoon.svg?3p0rtw#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}